body {
  background-color: #DEDEE1;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  border: none;
  padding: 0.625em;
  border-radius: 0.5em;
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.9);
}

.button:active {
  transform: translateY(2px);
}

.person-selector {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 2em 0 1em;
  max-width: 40em;
}

.person-selector-button {
  width: 100%;
  background-color: #595767;
  color: #fff;
  font-size: 1.1em;
}

.active-person {
  background: #1F1C4F;
  box-shadow: 0 0 0.5em 0.1em #c3c3c333;
  align-self: flex-end;
}

.chat-box {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 1.25em 0.5em #00000033;
  width: 90vw; /* Adjust to fit mobile screen */
  max-width: 400px; /* Adjust maximum width for larger screens */
  height: 80vh; /* Adjust to fit mobile screen */
  overflow: hidden; /* Ensure scroll bars do not affect layout */
  display: flex;
  flex-direction: column;
}

.chat-header-container {
  border-bottom: 2px solid #333;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.chat-header {
  color: #181B25;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto; /* Allow messages to scroll */
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 1em;
  padding-bottom: 20px; /* Ensure messages are not hidden by padding */
  display: flex;
  flex-direction: column;
}

.chat-messages::-webkit-scrollbar {
  display: none; /* Hide scroll bars */
}

.message-container {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  word-wrap: break-word;
}

.sent-message {
  align-self: flex-start; /* Align to the left */
  background-color: #da1710; /* Background color for Westpac Pal's messages */
  color: #dedee1; /* Text color for Westpac Pal's messages */
  margin-bottom: 20px; /* Adjust spacing between messages */
}

.received-message {
  color: #181B25;
  align-self: flex-end;
  background-color: #f3f4f6; /* Background color for Jane's messages */
  margin-bottom: 20px; /* Adjust spacing between messages */
}

.message-sender {
  font-weight: bold;
  margin-bottom: 5px;
} 

.message-text {
  font-size: 1em;
  margin-bottom: 5px;
}

.message-timestamp {
  font-size: 0.75em;
  text-align: right;
}

.blue-bg {
  background-color: #DA1710;
  color: #DEDEE1;
}

.gray-bg {
  background-color: #F3F4F6;
}

.chat-input-form {
  display: flex;
  align-items: center;
  gap: 0.625em;
  padding-top: 10px;
}

.chat-input {
  padding: 0.625em;
  border: none;
  border-radius: 0.5em;
  background-color: #f5f5f5;
  color: #333;
  font-size: 1em;
  flex-grow: 1;
}

.send-button {
  background-color: #1F1C4F;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}

.clear-chat-button {
  display: block;
  margin: 1em auto;
}

.message-link {
  font-size: 1em;
  margin-bottom: 5px;
  cursor: pointer; /* Change cursor to pointer on hover */
  margin-top: 18px; /* Example margin for spacing */
}
